footer.l-footer
    .l-footer__inner
        p.l-footer__copyright
            //- small(lang="en") &copy; copyright ○○
            //- HTMLマークアップが終わったら、ひとまずW3CチェックのHTMLやる
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="./assets/js/common.js")