//- 変数 = #{} で呼び出し
//- 属性の値を呼び出す変数 = `${}` で呼び出し

-
    const menus = [
        {
            name: "○○とは",
            url: "#about"
        },
        {
            name: "サービス内容",
            url: "#service"
        },
        {
            name: "お知らせ",
            url: "#news"
        },
        {
            name: "お問い合わせ",
            url: "#contact"
        },
        {
            name: "その他",
            url: "#other"
        },
    ];

//- ↓ 事前チェック項目たち
//- 画像書き出しの際に、WebPも一緒に用意する
//- ここから書き始める. 最初からPixel Perfectのカンプと照らし合わせつつ実装しよう. 多分そっちの方が二度手間を減らせて早いと思う
//- 不要な時は非表示にして、適宜実装できた時に表示したら邪魔にならないはず。
//- 報告はNotionのリンクを使って共有

header.l-header
    //- h1.l-header__logo
    //-     a(href="#")
    //-         img(src="", alt="")
    div.l-header__inner
        nav.l-header__navigation
            ul.l-header__list
                each menu in menus
                    li.l-header__item
                        a(href=`${menu.url}`) #{menu.name}
        .l-header__ham-button
            span
            span
            span