meta(charset="UTF-8")
meta(name="viewport" content="width=device-width")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title test
meta(name="keywords" content="")
meta(name="description" content="")
meta(name="format-detection" content="telephone=no")
meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="")
meta(name="twitter:image:src" content="")

meta(property="og:title" content="")
meta(property="og:description" content="")
meta(property="og:url" content="https://")
meta(property="og:type" content="website")
meta(property="og:image" content="")
meta(property="og:site_name" content="")

link(rel="icon" type="image/png" href="")
link(rel="apple-touch-icon-precomposed" href="")
link(rel="canonical" href="")
link(rel="stylesheet" type="text/css" href="assets/css/style.css")

script(src="assets/js/bundle.js")