@charset "utf-8";
@use "foundation/variables" as v;
@use "foundation/mixin" as m;

.c-inner01{
    box-sizing: content-box;
    max-width:0px;
    margin: 0 auto;
    padding: 0;
}

.c-button01{
    display: inline-block;
    min-width: 0px;
    padding: 0 0;
    line-height: 1;
}

// ページ内リンクさせる時に、title基準でページ内リンクを設定するのでpadding-topを統一しておく. 
// PCもSPも最初に決定して統一しておく（margin-bottomもPCとSPを設定しておく）
.c-title01{
    padding: 0;
    margin: 0;
    @media (max-width:v.$breakpoint) {
        padding: 0;
        margin: 0;
    }
}

.c-card01{
}


