@charset "utf-8";
@use "foundation/variables" as v;
@use "foundation/mixin" as m;

.c-inner01{
    box-sizing: content-box;
    max-width:0px;
    margin: 0 auto;
    padding: 0;
}

.c-button01{
    display: inline-block;
    min-width: 0px;
    padding: 0 0;
    line-height: 1;
}

.c-title01{

}

.c-card01{

}