* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

main {
  display: block;
}

select::-ms-expand {
  display: none;
}

textarea {
  width: 100%;
  max-width: 100%;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

textarea:focus {
  outline: 0;
}

input {
  border: none;
  background: none;
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

input:focus {
  outline: 0;
}

select {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background: none;
}

select:focus {
  outline: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.c-pc {
  display: inline-block;
}
@media (max-width: 768px) {
  .c-pc {
    display: none;
  }
}

.c-sp {
  display: none;
}
@media (max-width: 768px) {
  .c-sp {
    display: inline-block;
  }
}

a {
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  a:hover {
    opacity: 0.7;
  }
}

.l-header {
  background: gray;
}
.l-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.l-header__logo {
  z-index: 1;
}
.l-header__logo > a {
  display: block;
  width: 100%;
  height: 100%;
}
.l-header__logo > a > img {
  width: inherit;
  height: inherit;
}
.l-header__ham-button {
  display: none;
}
@media (max-width: 768px) {
  .l-header__ham-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 10;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms;
  }
}
@media (max-width: 768px) {
  .l-header__ham-button span {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #666;
    border-radius: 10px;
    transition: all 400ms;
  }
  .l-header__ham-button span:nth-child(1) {
    top: 0;
  }
  .l-header__ham-button span:nth-child(2) {
    top: 10px;
  }
  .l-header__ham-button span:nth-child(3) {
    top: 20px;
  }
}
.l-header__ham-button.open span:nth-child(1) {
  background: #fff;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.l-header__ham-button.open span:nth-child(2),
.l-header__ham-button.open span:nth-child(3) {
  top: 6px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.l-header__list {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  background: gray;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .l-header__list {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    text-align: center;
    right: -100%;
  }
  .l-header__list.open {
    right: 0px;
  }
}
@media (max-width: 768px) {
  .l-header__item {
    display: block;
    padding: 20px 30px;
  }
}

.c-inner01 {
  box-sizing: content-box;
  max-width: 0px;
  margin: 0 auto;
  padding: 0;
}

.c-button01 {
  display: inline-block;
  min-width: 0px;
  padding: 0 0;
  line-height: 1;
}

.c-title01 {
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .c-title01 {
    padding: 0;
    margin: 0;
  }
}

p {
  color: red;
}

.test {
  color: blue;
}

p {
  color: red;
}

p {
  color: blue;
}