extends ./layouts/_layout.pug

//- block vars
//-     include ./config/_config.pug
//-     - var key = ""

append value
    - const title = "確認ページ"; // title = ページごとに変わる
    - const description = "ページの説明(120文字以内)";
    - const ogTitle = "OGP用のページタイトル";
    - const ogDescription = "OGP用のページの説明(80~90文字以内)";
    - const type = "article"; // トップページはwebsite, トップページ以外ならarticle

block contents
    main
    //- ↓ 事前チェック項目たち
    //- 画像書き出しの際に、WebPも一緒に用意する
    //- ここから書き始める. 最初からPixel Perfectのカンプと照らし合わせつつ実装しよう. 多分そっちの方が二度手間を減らせて早いと思う
    //- 不要な時は非表示にして、適宜実装できた時に表示したら邪魔にならないはず。