extends ./layouts/_layout.pug

block vars
    include ./config/_config.pug
    - var key = ""

block contents
    main
    //- ここから書き始める. 最初からPixel Perfectのカンプと照らし合わせつつ実装しよう. 多分そっちの方が二度手間を減らせて早いと思う
    //- 不要な時は非表示にして、適宜実装できたと思ったら表示したら邪魔にならないはず。