<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><%# IE互換 %>
    <title><%= data.title %></title>
    <meta name="keywords" content="<%= data.keywords %>">
    <meta name="description" content="<%= data.description %>">
    <meta name="format-detection" content="telephone=no"><%# IE互換 %>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"><%# Firefoxで電話番号がskypeアイコン化するのを防ぐ %>
    <%# Twitter card %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@<%# TwitterのID %>">
    <meta name="twitter:image:src" content="">
    <%# Facebook OGP %>
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <link rel="icon" type="image/png" href="">
    <link rel="apple-touch-icon-precomposed" href="">
    <link rel="canonical" href="">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <%#
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    %>
    <script src="assets/js/bundle.js"></script>
</head>
<body>
    <header role="banner"></header>
    <nav role="navigation"></nav>
    <main role="main">